<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Vue Explorer</title>
	<link rel="stylesheet" href="./assets/css/style.css"/>
	<script src="https://unpkg.com/vue@3.x"></script>
</head>
<body>
<div id="app">
	<div class="container">
		<div class="row centered">
			<div class="col-6 mobile-12">
				<h1>{{title}}</h1>
				<p>{{description}}<!--or {{description()}} if property is in data and not in computed--></p>
				<div class="col-12 centered">
					<div class="col-3 mt-50">
						<img :src="imgSrc" :style="styles.img">
					</div>
				</div>
			</div>
		</div>
		<div class="row centered">
			<!-- v-if -> puts/removes element from the dom -->
			<div class="col-12 mt-50" v-if="isBtc===true"><h3>Is BTC</h3></div>
			<div class="col-12 mt-50" v-else-if="supportedCryptos.find(c=>{return c.symbol==='SOL'})"><h3>Is {{isBtc}}</h3></div>
			<div class="col-12 mt-50" v-else><h3>Is other crypto</h3></div>
			<!-- ALSO ACHIEVABLE with this notation, which adds style: display: none;
			<div class="col-12 mt-30" v-show="isBtc"><h3>Is BTC</h3></div>
			<div class="col-12 mt-30" v-show="!isBtc"><h3>Is SOL</h3></div>-->
		</div>
	</div>

	<div class="container" v-for="(crypto, index) in supportedCryptos">
		<div class="row centered">
			<div class="col-6" :class="{disabled: crypto.symbol === 'SOL', 'mobile-12': index===0}">
				<form @submit="submitForm($event, crypto.fn)" :id="'explore-'+crypto.symbol.toLowerCase()+'-form'">
					<h2>{{crypto.name}}</h2>
					<div class="input">
						<label :for="crypto.symbol.toLowerCase()+'-address-input'">Insert address</label>
						<input :key="crypto.symbol" :placeholder="crypto.placeholder" type="text" :name="crypto.symbol.toLowerCase()+'-address-input'" :id="crypto.symbol.toLowerCase()+'-address-input'" value="" />
					</div>
					<pre class="pre"><code></code></pre>
				</form>
			</div>
		</div>
	</div>
	<loader-component :showing="showingLoader"></loader-component>
</div>
<!-- Import Js -->
<script src="./main.js"></script>
<script src="./assets/js/components/LoaderComponent.js"></script>
<script src="./assets/js/API.js"></script>
<script src="./assets/js/base.js"></script>
<script>
    const bodyStyle = getComputedStyle(document.body);
    const COLORS_CONSTANTS = ['white', 'txt_1', 'txt_2', 'txt_3', 'txt_4', 'txt_secondary'];
    const COLORS = {};
    COLORS_CONSTANTS.forEach(color => {
        COLORS[color] = bodyStyle.getPropertyValue('--'+color);
	});
    const mountedApp = app.mount('#app');
</script>
</body>
</html>
