html {
  overflow-x: hidden;
}
body {
	background-color: $bg-primary;
	background-image: $bg_body;
	background-repeat: no-repeat;
	position: relative;
	min-height: 120vh;
	--white:#{$white};
	--txt_1:#{$txt_1};
	--txt_2:#{$txt_2};
	--txt_3:#{$txt_3};
	--txt_4:#{$txt_4};
	--txt_secondary:#{$txt_secondary};
}

.container {
  padding: 20px;
}