@import "list_col";
@import "list_heading";
@import "list_content";
@import "dropdown_heading";
@import "dropdown_content";

.default-list {

	width: 100%;
	padding: 0;
	background-color: transparent;

}